body{
	position: relative;
	height: 100%;
	min-height: 100vh;
}

/*Navbar*/
.active a {
  color: #ffc107 !important;    
}

.form-inline{
  margin: 0;
  padding: 0;
}

.dropdown-toggle:after{ 
  content: none 
}

/*Footer*/
footer a{
  color: #ffc107;
}


footer{
  position: absolute;
  bottom: -80px;
  width: 100%;
}

#sublink a:hover{
  color: white;
}

#social-link{
  font-size:  2em;
  color: white;
}

#social-link a{
    color:  white;
}

.copyright{
  position: relative;
  padding-top: 50px
}

.copyright > h5{
  position: absolute;
  bottom: -10px;
}

/*Home page*/
.carousel-item{
  height: 60vh;
}

.d-block{
  object-fit: cover;
}

.carousel-caption {
    left: 5%;
    text-align: left;
    max-width: 70%;
    right: auto;
    padding:0 5%;
    background-color: rgba(52,58,64,.8);
}

.card-title{
  font-weight: bold;
}

#features{
  margin: 40px 0;
}

.card a{
  color: black;
  transition: 0.3s
}

.card a:hover {
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: .7;
}

/*About page*/
figure > img{
  width: 80%;
  height: 50%;
  margin: auto; 
}


/*Gallery*/
.photoClass{
  margin-bottom: 50px;
}
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap:   5px;
  -moz-column-count:    4;
  -moz-column-gap:      5px;
  column-count:         4;
  column-gap:           5px;  
  margin: 5px;
  padding-right: 5px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}


#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 5px;
}

#photomodal{
  max-height: 150vh;
  max-width:  100%;
}

/*Contact page*/
#map{
  text-align: right;
  margin-bottom: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea{
  resize: none;
}

#google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
#google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


/*Media Queries*/
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }

  #myInput{
  width: 100%;
  }

  #sublink h6, .copyright h6{
    font-size: .9rem;
  }

}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  .carousel-caption > h1{
    font-size: 1.7rem;
  }
  .carousel-caption > p{
    font-size: .8rem;
  }

  #sublink h6, .copyright h6{
    font-size: .7rem;
  }
  .nav-link, .dropdown-toggle{
    font-size: 1.5rem;
  }
}
@media (max-width: 414px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  .carousel-item{
  height: 50vh;
  }
  .carousel-caption > h1{
    font-size: 1.3rem;
  }
  .carousel-caption > p{
    font-size: .7rem;
  }

  #sublink h6, .copyright h6{
    font-size: .4rem;
  }
}
