.bg-image{
	background: url("../images/welcome-guitar.jpg");
	background-color: rgb(47, 51, 58);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.welcome-text{
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFFEE;
  opacity: 0;
  -webkit-animation-name: appear; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}



/* Safari 4.0 - 8.0 */
-webkit-@keyframes appear  {
  from {opacity: 0; top: 35%}
  to {opacity: 1; top:45%}
}

@keyframes appear  {
  from {opacity: 0; top: 35%}
  to {opacity: 1; top: 45%}
}

.border{
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgba(20,23,22,.5);
	font-family: 'Aleo', serif;


}

@media (min-width: 768px) { 
  html{
    font-size: 1.3rem;
  }

}

